body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

/* override theme declaration */
body, .ais-InstantSearch__root {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

a:link, a:visited {
  text-decoration: none;
  color: #7b8ca0;
}

a:hover, a:active, a:focus {
  text-decoration: underline;
}

a.hit-container:hover, a.hit-container:active, a.hit-container:focus {
  text-decoration: none;
  background-color: #f2f9ff;
}

#page-container {
  width: 100%;
}

.search-bar {
  position: fixed;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(85,95,110,.2);
}

.search-bar-inner, #page-body, #hits-section {
  width: 90%;
  margin: 0 auto;
}

.info-box-container {
  width: 70%;
  margin: 0 auto;
}

.ais-SearchBox__root {
  float: left;
  margin: 0 1em 0 0;
}

.search-bar-inner .header-container {
  float: left;
  color: #9faab2;
  padding: 0.7em 0em;
  margin: 0 1em 0 0;
}

.search-bar-inner h1 {
  font-size: 120%;
  font-weight: normal;
  margin: 0;
}

.search-bar-inner h1 em {
  font-style: normal;
  font-weight: bold;
  color: #627787;
}

.search-bar-inner .more-info-link {
  float: left;
  padding: 0.5em 0;
  font-weight: bold;
}

.search-bar-inner .more-info-link a {
  font-size: 150%;
}

.search-box-container {
  float: left;
  position: relative;
  width: 500px;
  max-width: 100%;
}

.info-box-container {
  position: relative;
}

.info-box {
  position: absolute;
  top: 2em;
  padding: 0 2em;
}

.info-box h3 {
  color: #9faab2;
}

.info-box p {
  line-height: 150%;
}

.search-bar-inner {
  padding: 1.5em 0;
}

#page-body {
  padding: 7em 0 3em;
}

.transcript-container h1 {
  color: #909090;
}

.transcript-container p {
  color: #606060;
  line-height: 150%;
}

#hits-box {
  position: absolute;
  top: 3.5em;
  left: 0;
  margin: 0;
  padding: 0 0 2em;
}

#hits-container {
  max-height: 350px;
  overflow-y: scroll;
}

.hit-container {
  display: block;
  margin: 0;
  padding: 0.5em 1em;
  border-top: 1px solid #e0e0e0;
}

.hit-container:first-child {
  border-top: none;
}

.no-results {
  padding: 3em 3em 2em;
}

#search-footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  padding: 0.5em 0 0.4em;
  text-align: right;
}

#search-footer {
  padding: 0 1em;
  font-size: smaller;
  font-variant: small-caps;
}

#search-footer img {
  margin: 0 0 0 0.3em;
  vertical-align: middle;
  width: 54px;
  height: 17px;
}

.hit-container h3 {
  margin: 0 0 0.5em;
  font-size: medium;
  color: #9faab2;
}

.hit-container .snippet {
  margin: 0;
  font-size: small;
  line-height: 150%;
  color: #000;
}

@-webkit-keyframes fadeIt {
  0%   { background-color: #c0d0e0; }
  100% { background-color: #f0f0f0; }
}
@-moz-keyframes fadeIt {
  0%   { background-color: #c0d0e0; }
  100% { background-color: #f0f0f0; }
}
@-o-keyframes fadeIt {
  0%   { background-color: #c0d0e0; }
  100% { background-color: #f0f0f0; }
}
@keyframes fadeIt {
  0%   { background-color: #c0d0e0; }
  100% { background-color: #f0f0f0; }
}

.content-highlight{    
  background-image:none !important;
  -webkit-animation: fadeIt 3s ease-out; 
     -moz-animation: fadeIt 3s ease-out; 
       -o-animation: fadeIt 3s ease-out; 
          animation: fadeIt 3s ease-out; 
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.pop-up {
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(85,95,110,.4);
  border-top: 6px solid #7b8ca0;
  border-radius: 5px;
}

.pop-up-button {
  text-align: right;
  font-variant: small-caps;
  font-weight: bold;
}
